# Python cache
__pycache__/
*.pyc




# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.joblib

# Virtual Environment
venv/
.venv/

# Environment files
.env
*.env

# ------------------------------
# Streamlit cache
# ------------------------------
.streamlit/

# ------------------------------
# PyCharm / IntelliJ IDEA
# ------------------------------
.idea/
*.iml

# ------------------------------
# VSCode
# ------------------------------
.vscode/

# ------------------------------
# OS / System Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs / Temp / Backup
# ------------------------------
*.log
*.tmp
*.bak

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Datasets (optional)
# Comment these lines out if you WANT to upload datasets
# ------------------------------
*.csv
*.xlsx
*.xls

# ------------------------------
# Model files
# ------------------------------
*.h5
*.sav
*.onnx

# ------------------------------
# Build folders
# ------------------------------
dist/
build/
